:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem es 10px
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan); 
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat,no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: #fff;
    width: 326px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.089);
    // justify-content: center;
    // align-content: center;
    &-header{
        width: 100%;
        display: block;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--dark-grayish-blue);
        &-img{
            border-radius: 50%;
            border: .5rem solid #fff;
            margin-top: calc(-4.8rem - 0.5rem);
            background-color: #fff;

        }
        &-title{
            font-size: 1.8rem;
            margin-top: 2rem;
            span{
                color: var(--dark-gray);
                font-weight: 400;
                margin-left: .5rem;
            }
        }
        &-text{
            color: var(--dark-gray);
            font-size: 1.6rem;
            font-weight: 400;
            margin-top: 0;
        }
    }
    &-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7rem;
        &-social{
            text-align: center;
            h1{
                color: var(--dark-grayish-blue);
                font-size: 2rem;
            }
            p{
                letter-spacing: 0.2rem;
                color: var(--dark-gray);
            }
        }
    }
}
